@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
.App {
  text-align: center;
  background-color: #eee;
  font-family: 'Tajawal', sans-serif;
}
img {
  position: relative;
  width: 400px;
  height: auto;
  background-size: cover;
  cursor: pointer;
  border: 12px;
  border-radius: 6px
}

h4{
  font-size: 15px;
}
h3{
  letter-spacing: 0.1em;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(201, 201, 201);
}

img:hover {

  background: #e1e1e1;
  border: 1px solid #2f2f35;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.overlay {
    width: 100%;
    height: 100%;
    background: #323278;
    color: #eee;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    border-radius: 6px;
}

.profile:hover .overlay {
    opacity: 50
}

